Repository jexia/jexia-sdk-js, pull requests merged in 2019-07, with the labels that each got.

#105 Documentation for attach/detach
  extra_docs/relations/README.md
Labels: docs

#108 Allow attach/detach to receive array of objects/ids as filter
  extra_docs/relations/README.md
  src/api/core/queries/actionQuery.spec.ts
  src/api/core/queries/actionQuery.ts
  src/api/core/resource.ts
  src/api/dataops/dataset.ts
  src/api/fileops/fileset.ts
  src/internal/query.spec.ts
  src/internal/query.ts
Labels: docs, partial

#109 feat(relations): add relations support
  e2e/config.ts
  e2e/lib/utils.ts
  e2e/management.ts
  e2e/stories/dataset/delete-record.e2e.ts
  e2e/stories/dataset/select-record.e2e.ts
  e2e/stories/dataset/update-record.e2e.ts
  e2e/stories/jfs/jfs-delete.e2e.ts
  e2e/stories/jfs/jfs-select.e2e.ts
  e2e/stories/jfs/jfs-update.e2e.ts
  e2e/stories/relations/attach-detach.e2e.ts
  e2e/stories/relations/related.e2e.ts
  e2e/teardowns.ts
  extra_docs/assets/relations-hints-1.png
  extra_docs/assets/relations-hints-2.png
  extra_docs/assets/relations-schema.png
  extra_docs/relations/README.md
  extra_docs/summary.json
  spec/filtering.ts
  spec/queryAction.ts
  spec/queryActionType.ts
  spec/requestMethod.ts
  spec/resource.ts
  spec/testUtils.ts
  src/api/core/queries/actionQuery.spec.ts
  src/api/core/queries/actionQuery.ts
  src/api/core/queries/baseQuery.spec.ts
  src/api/core/queries/baseQuery.ts
  src/api/core/queries/deleteQuery.spec.ts
  src/api/core/queries/deleteQuery.ts
  src/api/core/queries/filterableQuery.spec.ts
  src/api/core/queries/filterableQuery.ts
  src/api/core/queries/insertQuery.spec.ts
  src/api/core/queries/insertQuery.ts
  src/api/core/queries/relatedQuery.ts
  src/api/core/queries/selectQuery.spec.ts
  src/api/core/queries/selectQuery.ts
  src/api/core/queries/updateQuery.spec.ts
  src/api/core/queries/updateQuery.ts
  src/api/core/resource.ts
  src/api/core/tokenManager.spec.ts
  src/api/core/tokenManager.ts
  src/api/dataops/dataset.spec.ts
  src/api/dataops/dataset.ts
  src/api/dataops/filteringApi.ts
  src/api/fileops/fileset.spec.ts
  src/api/fileops/fileset.ts
  src/api/ums/umsModule.spec.ts
  src/api/ums/umsModule.ts
  src/internal/executer.interfaces.ts
  src/internal/executer.spec.ts
  src/internal/executer.ts
  src/internal/query.spec.ts
  src/internal/query.ts
  src/internal/requestAdapter.interfaces.ts
  src/internal/requestAdapter.spec.ts
  src/internal/requestAdapter.ts
  src/internal/utils/index.ts
  src/internal/utils/queryActionType.ts
  src/internal/utils/queryParam.ts
Labels: feature

#112 test(ums): fix e2e ums tests
  e2e/stories/ums/ums.e2e.ts
Labels: test
